<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/stylish-portfolio.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <style>
        .center{
            position:relative;
            left:50%;
            width:400px;
            margin:-150px 0 0 -200px;
        }
    </style>
</head>
<body>
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>todolist API v1.0</a>
            </li>
            <li>
                <a href="#a1" onclick=$("#menu-close").click();>GET /todolist/:owner</a>
            </li>
            <li>
                <a href="#a2" onclick=$("#menu-close").click();>GET /todolist/:owner/:id</a>
            </li>
            <li>
                <a href="#a3" onclick=$("#menu-close").click();>POST /todolist/:owner</a>
            </li>
            <li>
                <a href="#a4" onclick=$("#menu-close").click();>PUT /todolist/:owner/:id</a>
            </li>
            <li>
                <a href="#a5" onclick=$("#menu-close").click();>PUT /todolist/:owner/:id/done</a>
            </li>
            <li>
                <a href="#a6" onclick=$("#menu-close").click();>DELETE /todolist/:owner/:id</a>
            </li>
            <li>
                <a href="#a7" onclick=$("#menu-close").click();>GET /todolist/:owner/create</a>
            </li>
            <li>
                <a href="#a8" onclick=$("#menu-close").click();>GET /users/:id</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center" style="text-align: center">
            <div style="width:400px;" class="center">
                <h2><%= title %></h1>
                <h4><%= subtitle %></h3>
                <div style="text-align: left; margin:20px 50px 20px 50px ">
                    <ul>
                        <li>간단한 RESTful Service 예제입니다. 내용은 사이드 메뉴를 열어서 확인하세요.</li>
                        <li>할일목록 앱(Todo List App)을 지원하는 서비스입니다.</li>
                        <li>매일 새벽2시가 되면 데이터가 초기화됩니다.</li>
                        <li>/todolist/... 경로를 /todolist_long/... 으로 변경하여 요청하면 1초의 지연시간 후에 응답합니다.</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <aside  id="a1" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                    <h3>1. GET /todolist/:owner</h3>
            </div>
        </div>
    </aside>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>: 할일 목록 조회 기능</p>
                    <p class="lead">
                        <div>- 전달 파라미터</div>
                        <ul>
                            <li>:owner : 소유자의 식별자(email 주소, 이름 등의 자신을 나타낼 수 있는 식별자)</li>
                        </ul>
                        <div>- 요청 형식</div>
                        <ul>
                            <li><a href="/todolist/gdhong">/todolist/gdhong</a></li>
                        </ul>
                        <div>- 응답데이터 형식</div>
                        <pre>
[
    { "id":1572093093429,"todo":"야구장","desc":"프로야구 경기도 봐야합니다.","done":false},
    { "id":1572093093428,"todo":"놀기","desc":"노는 것도 중요합니다.","done":false},
    { "id":1572093093427,"todo":"Vue 학습","desc":"Vue 학습을 해야 합니다","done":false},
    { "id":123456789,"todo":"ES6 공부","desc":"ES6공부를 해야 합니다","done":false}
]</pre>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <aside  id="a2" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                    <h3>2. GET /todolist/:owner/:id</h3>
            </div>
        </div>
    </aside>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>: 특정 할일 정보 한건 조회</p>
                    <p class="lead">
                        <div>- 전달 파라미터</div>
                        <ul>
                            <li>:owner : 소유자</li>
                            <li>:id : 할일 목록 고유 번호</li>
                        </ul>
                        <div>- 요청 형식</div>
                        <ul>
                            <li><a href="/todolist/gdhong/123456789">/todolist/gdhong/123456789</a></li>
                        </ul>
                        <div>- 응답데이터 형식</div>
                        <pre>
{
    "id":123456789,
    "todo":"ES6 공부",
    "desc":"ES6 공부는 필수. 10.22까지."
    "done":false
}</pre>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <aside id="a3" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                    <h3>3. POST /todolist/:owner</h3>
            </div>
        </div>
    </aside>

    <section  class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>: 새로운 할일을 목록에 추가</p>
                    <p class="lead">
                        <div>- 전달 파라미터</div>
                        <ul>
                            <li>:owner : 소유자 고유 식별자</li>
                            <li>name : 이름</li>
                            <li>tel : 전화번호</li>
                            <li>address : 주소</li>
                        </ul>
                        <div>- 요청 형식(conent-type:application/json)</div>
                        <pre>
{
    "todo":"React학습",
    "desc":"Redux까지 마무리! (10.23까지)"
}</pre>
                        <div>- 응답데이터 형식(성공)</div>
                        <pre>
{
    "status": "success",
    "message": "추가 성공",
    "item": {
        "id": 1572093337388,
        "todo": "React학습",
        "desc": "Redux까지 마무리! (10.23까지)"
    }
}</pre>
                        <div>- 응답데이터 형식(실패)</div>
                        <pre>
{
   "status": "fail",
   "message": "[에러메시지]"
}</pre>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <aside  id="a4" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                    <h3>4. PUT /todolist/:owner/:id</h3>
            </div>
        </div>
    </aside>

<!-- PUT /contacts/:id -->
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>: 기존 한건의 할일 정보 변경</p>
                    <p class="lead">
                        <div>- 전달 파라미터</div>
                        <ul>
                            <li>:owner : 소유자 식별 정보</li>
                            <li>:id : 할일 일련 번호</li>
                            <li>todo : 할일</li>
                            <li>desc : 할일에 대한 설명정보</li>
                            <li>done : 완료여부</li>
                        </ul>
                        <div>- 요청 형식(conent-type:application/json)</div>
                        <pre>
{ 
    "todo" : "React학습!!",
    "desc" : "Redux까지 마무리! (11.23까지)",
    "done" : true
}</pre>
                        <div>- 응답데이터 형식(성공)</div>
                        <pre>
{
    "status": "success",
    "message": "할일 변경 성공",
    "item": {
        "id": 1572093337388,
        "todo": "React학습!!",
        "desc": "Redux까지 마무리! (11.23까지)",
        "done": true
    }
}</pre>
                        <div>- 응답데이터 형식(실패)</div>
                        <pre>
{
   "status": "fail",
   "message": "[에러메시지]"
}</pre>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <aside id="a5" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                    <h3>5. PUT /todolist/:owner/:id/done</h3>
            </div>
        </div>
    </aside>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>: 할일 한건에 대한 done값 토글 변경</p>
                    <p class="lead">
                        <div>- 전달 파라미터</div>
                        <ul>
                            <li>:owner : 소유자 식별 정보</li>
                            <li>:id : 할일 일련 번호</li>
                        </ul>
                        <div>- 요청 형식</div>
                        <ul>
                            <li>/todolist/gdhong/123456789/done</li>
                        </ul>
                        <div>- 응답데이터 형식(성공)</div>
                        <pre>
{
    "status": "success",
    "message": "완료 변경 성공",
    "item": {
        "id": 1572093337388,
        "todo": "React학습!!",
        "done": true
    }
}</pre>
                        <div>- 응답데이터 형식(실패)</div>
                        <pre>
{
   "status": "fail",
   "message": "[에러메시지]"
}</pre>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <aside id="a6"  class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                    <h3>6. DELETE /todolist/:owner/:id</h3>
            </div>
        </div>
    </aside>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>: 할일 한건 삭제</p>
                    <p class="lead">
                        <div>- 전달 파라미터</div>
                        <ul>
                            <li>:owner : 소유자 식별 정보</li>
                            <li>:id : 할일 일련 번호</li>
                        </ul>
                        <div>- 응답데이터 형식(성공)</div>
                        <pre>
{
    "status": "success",
    "message": "삭제 성공",
    "item": {
        "id": 1572093337388,
        "todo": "React학습!!"
    }
}</pre>
                        <div>- 응답데이터 형식(실패)</div>
                        <pre>
{
   "status": "fail",
   "message": "[에러메시지]"
}</pre>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    
    <aside  id="a7" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <h3>7. GET /todolist/:owner/create</h3>
            </div>
        </div>
    </aside>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>: 새로운 owner를 위한 샘플 할일 3건 생성</p>
                    <p class="lead">
                        <div>- 전달 파라미터</div>
                        <ul>
                            <li>:owner : 소유자</li>
                        </ul>
                        <div>- 응답데이터 형식</div>
                        <pre>
{
    "status": "success",
    "message": "샘플 데이터 생성 성공!"
}</pre>
                        <div>- 응답데이터 형식(실패)</div>
                        <pre>
{
"status": "fail",
"message": "[에러메시지]"
}</pre>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <aside  id="a8" class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <h3>8. GET /users/:id</h3>
            </div>
        </div>
    </aside>

    <section class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p>: 사용자 정보 조회</p>
                    <p class="lead">
                        <div>- 전달 파라미터</div>
                        <ul>
                            <li>:id : 사용자 ID</li>
                        </ul>
                        <div>- 응답데이터 형식</div>
                        <pre>
{
   id: "1",
   userid: "gdhong",
   username: "홍길동"
}</pre>
                        <div>** 응답 데이터는 ID만 바뀔뿐 항상 홍길동을 리턴합니다.</div>
                        <div>** 3초의 지연시간 후 응답합니다.</div>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <aside class="call-to-action bg-primary">
    </aside>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>RESTful Service sample for Apps</strong>
                    </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:stepanowon@hotmail.com">stepanowon@hotmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/stepanowon"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Bmaster(Not Amaster)</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });

    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });

    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            that.off('click', onMapClickHandler);
            that.find('iframe').css("pointer-events", "auto");
            that.on('mouseleave', onMapMouseleaveHandler);
        }
    $('.map').on('click', onMapClickHandler);
    </script>
</body>
</html>
