@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  text-align: center;
  margin-top: 20px;
}
.menu {
  width: 25%;
  border-radius: 0 !important;
}

/* 모달을 위한 스타일 추가 */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.box {
  background-color: white;
  margin: 100px auto;
  max-width: 330px;
  min-width: 100px;
  min-height: 250px;
  font: 12px "verdana";
  padding: 5px 5px 5px 5px;
}
.box div {
  padding: 0;
  display: block;
  margin: 5px 0 0 0;
}
.box .heading {
  background: #33a17f;
  font-weight: 300;
  text-align: left;
  color: #fff;
  margin: 0px;
  padding: 10px 10px 10px 10px;
  min-width: 200px;
  max-width: 360px;
}
.box .player {
  background: white;
}
.pointer {
  cursor: pointer;
}
.play-button {
  width: 15px;
  height: 15px;
}
.play-button-disabled {
  opacity: 0.3;
}
